In [2]:
# data 전처리하는 건 보통 pandas로 한다
import pandas as pd
import seaborn as sns

In [3]:
tips = sns.load_dataset('tips')

In [5]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [8]:
# category 는 문자열 처리 못한다
# data type 문자열로 바꾸기
tips['sex_str'] = tips['sex'].astype(str)
# 이렇게 하면 category => object로 변경됨

In [7]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [32]:
tips['total_bill'] = tips['total_bill'].astype(str)

In [33]:
tips.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
totla_bill      object
dtype: object

In [34]:
# type 바꾼 것 원래대로 바꾸기
tips['total_bill'] = tips['total_bill'].astype(float)

In [35]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
totla_bill      object
dtype: object

In [36]:
tips_sub_miss = tips.head(10)

In [37]:
tips_sub_miss

   total_bill   tip     sex smoker  day    time  size sex_str totla_bill
0       16.99  1.01  Female     No  Sun  Dinner     2  Female      16.99
1       10.34  1.66    Male     No  Sun  Dinner     3    Male      10.34
2       21.01  3.50    Male     No  Sun  Dinner     3    Male      21.01
3       23.68  3.31    Male     No  Sun  Dinner     2    Male      23.68
4       24.59  3.61  Female     No  Sun  Dinner     4  Female      24.59
5       25.29  4.71    Male     No  Sun  Dinner     4    Male      25.29
6        8.77  2.00    Male     No  Sun  Dinner     2    Male       8.77
7       26.88  3.12    Male     No  Sun  Dinner     4    Male      26.88
8       15.04  1.96    Male     No  Sun  Dinner     2    Male      15.04
9       14.78  3.23    Male     No  Sun  Dinner     2    Male      14.78

In [42]:
# loc: 원래 부여된 값으로 접근한다
tips_sub_miss.loc[[1,3,5,7],totla_bill] ='missing'

NameError: name 'totla_bill' is not defined

In [39]:
tips_sub_miss['total_bill'].astype(float)

0    16.99
1    10.34
2    21.01
3    23.68
4    24.59
5    25.29
6     8.77
7    26.88
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [40]:
pd.to_numeric(tips_sub_miss['total_bill'],errors='ignore')

0    16.99
1    10.34
2    21.01
3    23.68
4    24.59
5    25.29
6     8.77
7    26.88
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [43]:
pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce', downcast='float')

0    16.990000
1    10.340000
2    21.010000
3    23.680000
4    24.590000
5    25.290001
6     8.770000
7    26.879999
8    15.040000
9    14.780000
Name: total_bill, dtype: float32

In [44]:
tips['sex_str'].astype('category')

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex_str, Length: 244, dtype: category
Categories (2, object): ['Female', 'Male']