숫자형

# 숫자형

In [1]:
a = 123

In [7]:
print(a)

123

In [8]:
b = 456

In [9]:
a
b

456

In [10]:
print(a,b)

123 456

원래 print 해서 보는 게 맞는데 jypyter lap, notebook에서는 마지막 값 하나는 그냥 b 이렇게 써도 값 나오게 해줌 - 딥러닝에서 많이 쓰여서 편하게 하려고 만든 기능이라고 보면됨

In [11]:
a,b

(123, 456)

In [12]:
type(a)

int

In [13]:
a=1.9
a

1.9

In [14]:
type(a)

float

In [15]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

shift+tab 또는 ?, help()를 하면 정보 알 수 있다

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
input?

Signature: input(prompt='')
Docstring:
Forward raw_input to frontends

Raises
------
StdinNotImplementedError if active frontend doesn't support stdin.
File:      c:\users\pknu\anaconda3\lib\site-packages\ipykernel\kernelbase.py
Type:      method

In [19]:
num1 = input('숫자를 입력하세요 >>>')

숫자를 입력하세요 >>> 34

In [20]:
type(num1)

str

In [21]:
print(num1)

34

In [22]:
# 이거 주석임 ctrl + / 하면 주석 됨
# 박스에 과일을 넣는 작업 중입니다.
# 박스당 들어가는 과일의 갯수와 전체 과일의 갯수를 입력받아서 몇 박스 몇개가 남는지 출력합니다.
# 입력 : 박스당 과일 수 , 전체 과일 수
# 출력 : X박스, X개

In [23]:
boxFruit = input('박스당 들어 가는 과일의 갯수', '전체 과일의 갯수')

TypeError: raw_input() takes from 1 to 2 positional arguments but 3 were given

In [29]:
boxFruit = int(input('박스당 들어 가는 과일의 갯수 : '))

박스당 들어 가는 과일의 갯수 :  3

In [30]:
fruits = int(input('전체 과일 수 : '))

전체 과일 수 :  5

In [26]:
print(boxFruit, fruits)

3 4

In [27]:
print(fruits/boxFruit)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [31]:
box = fruits // boxFruit
count = fruits % boxFruit
print(box, '박스, ', count, '개')

1 박스,  2 개

string int로 바꾸는 법 : int(string) 숫자로 바꿀 수 있는 형태가 아니면 이거 말고 다른 방법 써야됨

# 문자열 자료형

In [32]:
"hello 'ann'"

"hello 'ann'"

In [33]:
'hello "ann"'

'hello "ann"'

In [34]:
"hello
!!!"

SyntaxError: EOL while scanning string literal (100281834.py, line 1)

In [35]:
'''hello
!@!@
!@@
'''

'hello\n!@!@\n!@@\n'

'''이렇게''' 작은따옴표나 큰 따옴표를 세개 쓰면 줄 바꿈도 가능 에러 안남

In [36]:
'1' + 'a'

'1a'

문자 + 문자끼리 더할 수 있다. 곱하기도 됨 '문자열'*숫자 -> 문자열을 숫자만큼 보여줘

In [37]:
'메롱'*3

'메롱메롱메롱'

In [38]:
a = 'life is too short'
len(a)

17

In [40]:
a = 'Life is too short, You need Python'
a

'Life is too short, You need Python'

In [41]:
a[0:3]

'Lif'

In [42]:
a[0:4]

'Life'

In [43]:
a[:4]

'Life'

In [44]:
a[-6:]

'Python'

In [45]:
# 주민등록 번호를 입력 받아서 생년월일과 성별을 출력하세요
# 3항 연산자 활용 -> 조건 ? 참일때 : 거짓일때 [true_value] if [condition] else [false_value]

In [47]:
personID = input('주민등록번호를 입력 하세요 : ')
['여자'] if personID[6] ==2 else ['남자']

주민등록번호를 입력 하세요 :  9504032000000

['남자']

In [48]:
jumin = input('주민등록번호 입력 >>>')
print('생년월일', jumin[:6])
print('성별', '남자' if jumin[7]=='3' else '여자')

주민등록번호 입력 >>> 200302-3123482

생년월일 200302
성별 남자